// Fonts
//@import url('https://fonts.googleapis.com/css?family=Open Sans');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.AutoCompleteDescripcion input{
   
    outline:none;
}

.AutoCompleteDescripcion ul{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
}
.AutoCompleteDescripcion ul::before{
    content: "";
}
.AutoCompleteDescripcion li{
    padding: 5px 5px;
    cursor: pointer;
}
.AutoCompleteDescripcion li:hover{
    text-decoration: underline;
    background-color: rgba(128,128,128,0.2);
}
.visible{
    display: block;

}
.oculto{
    display: none;
}
.bg1{
    background-color: lightblue;
}
.bg2{
    background-color: lightyellow;
}
.verde1{
    background-color:#00B496;
}
.verde2{
    background-color:#009b96;
}
.verde3{
    background-color:#00DC96;
}
.gris{
    background-color:#9B9B9B;
}
.black{
    background-color:#000000;
}
.white{
    background-color:white;
}
.full{
    height: auto;
    width: 100%;
    position:relative;
}

.titulo{
    font-family: "Open Sans";
    font-weight: bold;
}
.subtitulo{
    font-family: "Open Sans";
    font-weight: bold;
}
.texto{
    font-family: "Open Sans";
}
.reco{
    font-family: "Open Sans"; 
    font-style: italic;
}
.recod{
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;

}