// Fonts
//@import url('https://fonts.googleapis.com/css?family=Open Sans');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.AutoCompleteDescripcion input{
   
    outline:none;
}

.AutoCompleteDescripcion ul{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
}
.AutoCompleteDescripcion ul::before{
    content: "";
}
.AutoCompleteDescripcion li{
    padding: 5px 5px;
    cursor: pointer;
}
.AutoCompleteDescripcion li:hover{
    text-decoration: underline;
    background-color: rgba(128,128,128,0.2);
}
.visible{
    display: block;
}
.oculto{
    display: none;
}
.bg1{
    background-color: lightblue;
}
.bg2{
    background-color: lightyellow;
}
.redf{
   color:red;
}
.verde1{
    background-color:#00B496;
}
.verde2{
    background-color:#009b96;
}
.verde3{
    background-color:#00DC96;
}
.gris{
    background-color:#9B9B9B;
}
.black{
    background-color:#000000;
}
.white{
    background-color:white;
}
.full{
    height: auto;
    width: 100%;
    position:relative;
}

.titulo{
    font-family: "Open Sans";
    font-weight: bold;
    font-size:12px;
}
.subtitulo{
    font-family: "Open Sans";
    font-weight: bold;
    font-size:12px;
}
.texto{
    font-family: "Open Sans";
    font-size:12px;
}
.reco{
    font-family: "Open Sans"; 
    font-style: italic;
    font-size:12px;
}
.recod{
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    font-size:12px;

}

.buttonm {
	display: inline-block;
	border-radius: 4px;
	background-color:#4CAF50;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  .buttonm span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .buttonm span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .buttonm:hover span {
	padding-right: 25px;
  }
  
  .buttonm:hover span:after {
	opacity: 1;
	right: 0;
  }
